@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
    margin-top: 0;
    text-align: center;
    font-family: Raleway;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Custom Styling */

.container {
    margin: 0 100px 0 100px;
}

h1 {
    text-transform: uppercase;
    margin: 0;
}

.section {
    margin: 0 100px 40px 100px;
    text-align: left;
}

.heading {
    /*background: rgba(144, 144, 144, 0.07);*/
    background-image: linear-gradient(rgba(116, 116, 116, 0.41), rgba(255, 255, 255, 0.56));
    padding: 20px 0 20px 0;
    border-bottom: gray 2px;
}

.footing {
    /*background: rgba(144, 144, 144, 0.07);*/
    background-image: linear-gradient(white, rgba(116, 116, 116, 0.36));
    padding: 20px 100px 20px 100px;
    /*margin: 0 0 0 0;*/
    text-align: left;

}


.row {
    display: flex;
    width:100%;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}

.column-small {
    flex: 30%;
    padding: 10px 0 10px 0;

}

.column-large{
    flex: 70%;
}